form {
  label {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    color: tomato;
    font-size: 16px;
  }
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
  a {
    color: tomato;
  }
  a:hover {
    color: rgb(220, 85, 61);
  }
}
