.video__data {
  margin: 0;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  .video__title {
    font-size: 26px;
    margin-bottom: 5px;
  }
  .video__createdAt {
    font-size: 12px;
  }
  .video__owner {
    margin-bottom: 5px;
    font-size: 14px;
    color: black !important;
    a {
      text-decoration: underline;

      &:hover {
        color: tomato;
      }
    }
  }
  .video__edit {
    display: block;
    padding-top: 10px;
  }
}

.video__comments {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 30px;
  margin-top: 20px;
  .video__comment {
    padding: 0;
    margin-bottom: 10px;
    span {
      color: black !important;
      padding: 10px;
    }
  }
}
