#videoContainer {
  width: 100%;
  background-color: black;
  video {
    width: 100%;
    box-sizing: border-box;
  }
}
.videoControls {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  &.showing {
    opacity: 1;
  }
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  background-color: tomato;
  padding: 12px 40px;
  box-sizing: border-box;
  .videoControls__play {
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 40%;
    .videoControls__playBtn {
      margin: 0px 15px;
    }
    .videoControls__time {
      font-size: 12px;
      width: 60%;
    }
  }
  .videoControls__volume {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 21%;
    span {
      margin-left: 10px;
      i {
        font-size: 20px;
      }
    }
  }
}
