// video mixin
.video-mixin {
  .video-mixin__thumb {
    height: 200px;
    border-radius: 7px;
    width: 100%;
    background-color: rgb(174, 174, 174);
  }
  .video-mixin__data {
    padding: 0px 50px;
    .video-mixin__title {
      color: black !important;
      font-size: 18px;
      display: block;
      margin-top: 10px;
    }
    .video-mixin__meta {
      font-size: 7px;
      padding: 5px 0px;
      span {
        display: inline-block;
      }
    }
    span {
      color: rgb(114, 114, 114) !important;
      font-size: 15px;
      padding: 1px;
    }
  }
}
